@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.App {
  text-align: center;
}

body {
  background-color: #0A2E36;
}

button {
  width: 50px;
  height: 20px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4em;
  color: #09A129
}

.list {
  background: #14CC60;
  padding: 20px;
  width: 75%;
  margin: 0 auto;
  border: solid #036D19 7px;
}

.todocard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}

.todo {
  font-size: 3em;
  color: #0A2E36;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

.todocard button {
  margin-left: 20px;
  border-radius: 5px;
  border: solid 2px red;
  background: black;
  color: red;
  width: 60px;
  height: 25px;
  transition: 1s;
}

.todocard button:hover {
  background: red;
  transition: 1s;
}


form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

input {
  padding: 10px 20px;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
}

form button {
  padding: 10px 20px;
  width: 100px;
  height: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  margin-left: 10px;
  background-color: #0A2E36;
  border: #27FB6B 2px solid;
  color: white;
}